#
client/build
client/partitions.csv
client/sdkconfig
client/sdkconfig.defaults
client/managed_components

coordinator/build
coordinator/partitions.csv
coordinator/sdkconfig
coordinator/sdkconfig.defaults
coordinator/managed_components
