menu "Example Device Configuration"

    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    choice ZB_DEVICE_TYPE
    
        bool "Zigbee Coordinator or Router device"
        default ZB_ZCZR
        help 
            Select this to enable Zigbee Coordinator or Router.

    endchoice

endmenu
