menu "Example Device Configuration"

    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    choice ZB_DEVICE_TYPE
    
        bool "Zigbee End Device"
        default ZB_ZED
        help 
            Select this to enable Zigbee End Device.

    endchoice

endmenu
